html, body {
	height: 100%;
  box-sizing: border-box;
}
body {
	margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}


.bg {

	background: url("img/home.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	min-height: 100%;
	width: 100%;


}

.all {
	padding-top: 5%;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.all h1 {
  font-family: "Trebuchet MS";
  font-size: 3.5em;
  color: white;
  font-weight: 200;
  font-style: italic;
  text-transform: uppercase;
  margin-bottom: 25px;
  text-shadow: 2px 3.464px 1px rgba(0, 0, 0, 0.392);
}

hr	{
	border: none;
	height: 3px;
	background-color: white;
}

h2 {
  font-family: "Trebuchet MS";
  font-size: 1.1em;
  color: white;
  font-weight: 200;
  /*font-style: italic;*/
  text-transform: uppercase;
  margin-bottom: 25px;
  /*text-shadow: 2px 3.464px 1px rgba(0, 0, 0, 0.392);*/
}

h3 {
  font-family: "Trebuchet MS";
  font-size: .85em;
  color: white;
  font-weight: 200;
  font-style: italic;
  text-transform: uppercase;
  margin-bottom: 25px;
  /*text-shadow: 2px 3.464px 1px rgba(0, 0, 0, 0.392);*/	
}

@media only screen and (max-width: 766px)  {
 .all {
  max-width: 460px;
  padding-top: 1%;
 }

 hr {
  width: 300px;
 }

 .all h1 {
  font-size: 2.2em;
  padding: 0px 5% 0px 5%;
  line-height: 50px;

 }

  h2 {
  font-size: 1.2em;
  line-height: 29px;
  padding: 0px 5% 0px 5%;

 }
}